<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weighttracker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_seafood"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_seafood_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BMIActivity"
            android:screenOrientation="portrait"
            android:label="Tính chỉ số BMI"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".WeightActivity"
            android:label="Theo dõi cân nặng"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".CaloTrackerActivity"
            android:label="Tính toán lượng Calo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".DietActivity"
            android:label="Thực đơn khoa học"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".FoodActivity"
            android:label="Tra cứu năng lượng thực phẩm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AuthorActivity"
            android:label="Tác giả"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".CaloCalculateActivity"
            android:label="Tính toán lượng Calo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>