<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weighttracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BMI"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Weight"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Calo"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Diet"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Food"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Author"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>